@model ApplicationUser


<link rel="stylesheet" href="~/css/details.css" />

@{

    <div class="container">
        <a asp-action="Students">Go Back </a>
                <div class="detailsUl" id="subjectDiv">
                    <h2 style="text-align:center;">Name : @(Model.FirstName) @(Model.LastName)</h2>

                        
                @foreach (var dept in Model.Depertments)
                {
                <h3>
                    Department :
                    <a class="item1" asp-controller="Depertment" asp-action="DetailsDepertment"
               asp-route-id=@dept.id>
                           @(dept.DeptName)
                        </a>
                        </h3>
                }


                    <h3 style="margin-top:40px;">Enrolled Subjects by @(Model.FirstName) @(Model.LastName):</h3>
                        @if (ViewBag.isStudent == true &&
                                ViewBag.CurrentUserId == Model.Id )
                {
                    <a asp-controller="Student" asp-action="EnroleSubject"
           asp-route-id=@Model.Id> Enrole Subject </a>
            }
                    <hr>


                    @foreach (var subject in Model.Subjects)
            {
                        <div class="grid-containerList">
                        <p>Subject's Name : 
                            <a class="item1" asp-controller="Subject" asp-action="DetailsSubject"
               asp-route-id=@subject.id>
                                @(subject.SubjectName)
                        </a>
                    </p>
                    @if (ViewBag.isStudent == true &&
            ViewBag.CurrentUserId == Model.Id)
                    {
                            <input type="button" class="item2 removeBtn"
                               value="Delete"
                               onclick="location.href='@Url.Action("DeleteEnrolment", "Student",
                               new { @subjectId = subject.id, @studentId = Model.Id})'" />
                    }
         
                        </div>
            }

                </div>
    </div>
  

}