@model PaginatedList<University_Information_System.Models.ApplicationUser>

<link rel="stylesheet" href="~/css/projects.css" />

<div class="mainDiv">


    <div class="grid-container">
    <form asp-action="Users" method="get" class="grid-container">
    <div class="form-actions no-color">
        <p>
                <input type="text" placeholder="search subject..." class="searchBar" 
                name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> 
               
        </p>
    </div>
</form>

    
</div>

    <div class="gridRow">
        <h3 style="text-align:center; padding-top:10px;">User's List' : </h3>
        <form asp-action="Users" method="get">
            <div class="form-actions no-color">

                <label for="PageNumber"> Item per Page: </label>
                <input name="itemsPerPage" class="searchBar" style="width:40px" type"number" 
                value="@ViewData["ItemsPerPage"]" />
                <input type="submit" value="Show" class="btn" />
            </div>
        </form>

    </div>

<div >
    @{
     if (Model.Count == 0)

        {
                <div class="grid-containerList">
                <h3>User List Is Empty...</h3>
                </div>
        }

        else{

        foreach (var user in Model)
        {

                                    <div class="grid-containerList">
                                <p>
                                    Name :  
                                         @(user.FirstName) @(user.LastName)

                                </p>

                                @{
                        if(ViewBag.deptId!=0){
                                            <a class="updateBtn"
                             asp-controller="Student" asp-action="AddStudent"asp-route-userId="@user.Id" 
                             asp-route-deptId="@ViewBag.deptId"> Add </a>                        
                    }

                        else if(ViewBag.fromTeacher!=false){
                   
                                                                <a class ="updateBtn"
                            asp-controller="Teacher" asp-action="AddTeacher" asp-route-id="@user.Id"> Add </a>
                                             
                        }

                        else{
                                    <a href="#"> Delete</a>
                        }
                                }
                                    </div>
                
        }

}
    }
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
    <div class="paginationDiv">
        <div class="gridRow">
            <h4>Page No @(Model.PageIndex) of @(Model.TotalPages)</h4>

            <form asp-action="Teachers" method="get" class="grid-container">
                <div class="form-actions no-color">
                    <input type="hidden" name="ItemsPerPage" value="@ViewData["ItemsPerPage"]" />
                    <label for="PageNumber"> Goto Page</label>
                    <select name="PageNumber" class="searchBar" style="width:100px">
                        <option class="selectItem" value=@(Model.PageIndex)>--select--</option>
                        @foreach (int index in Enumerable.Range(1, (Model.TotalPages)))
                        {
                            <option class="selectItem" value=@(index)>Page : @(index)</option>
                        }
                    </select>
                    <input type="submit" value="Go" class="btn" />
                </div>
            </form>
        </div>

        <a asp-action="Teachers" asp-route-itemsPerPage="@ViewData["ItemsPerPage"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn @prevDisabled">
            Previous
        </a>


        @foreach (int page in Model.RangePageList)
        {
            if (page == Model.PageIndex)
            {
                <a asp-action="Teachers" class="selected"
           asp-route-pageNumber="@(page)" asp-route-itemsPerPage="@ViewData["ItemsPerPage"]"
           asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    @(page)
                </a>
            }
            else
            {
                <a asp-action="Teachers" class="btn"
           asp-route-pageNumber="@(page)" asp-route-itemsPerPage="@ViewData["ItemsPerPage"]"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn">
                    @(page)
                </a>
            }
        }

        <a asp-action="Teachers"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-itemsPerPage="@ViewData["ItemsPerPage"]"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn @nextDisabled">
            Next
        </a>

    </div>

</div>
