@model Teacher


<link rel="stylesheet" href="~/css/projects.css" />

@{
    <div class="container">
        <h3 style="text-align:center">@(Model.FirstName) @(Model.LastName)</h3>


        <div class="search-list">
            <h4>Subject List</h4>
            <div>


                <a style="background-color:teal; color:white; font-size:14px; padding:2px;margin:2px; border: 1px solid red;border-radious:2px;"
               asp-conztroller="Teacher" asp-action="AddSubjectToTheTeacher" asp-route-id=@Model.Id> Add Subject for Teaching</a>
            </div>
            @foreach (var subject in Model.Subjects)
            {
                <div class="search-item">
                    <div class="info">
                        <div class="item-header">
                            <div class="type">@(subject.SubjectName)</div>
                            <div class="name">
                                <input style="align-content:center;
                background-color: #04AA6D;
                color: white;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                margin-left:30%;
                height:40px;width:200px;"
                                   type="button"
                                   value="Details..."
                                   onclick="location.href='@Url.Action("DetailsSubject", "Subject",new { @id = subject.id})'" />

                                <input style="align-content:center;
                background-color: #04AA6D;
                color: white;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                margin-left:30%;
                height:40px;width:200px;"
                                   type="button"
                                   value="Delete"
                                   onclick="location.href='@Url.Action("DeleteSubjectFromTeacher", "Teacher", new { @subjectId = subject.id, @TeacherId = Model.Id})'" />
                            </div>
                        </div>

                    </div>
                </div>

            }

        </div>



        <div class="search-list">
            <h4>Department List</h4>
            @foreach (var dept in Model.Depertments)
            {
                <div class="search-item">
                    <div class="info">
                        <div class="item-header">
                            <div class="type">@(dept.DeptName) </div>
                            <div class="name">
                                <button>details..</button> <button>delete</button>
                            </div>
                        </div>

                    </div>
                </div>

            }

        </div>


      



    </div>

}