@model PaginatedList<University_Information_System.Models.ApplicationUser>

<link rel="stylesheet" href="~/css/projects.css" />

<div class="mainDiv">
@{
    if (TempData["success"] != null)
    {
            <h3 class="headline" 
            style="align-content:center;
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            text-align:center; height:30px;">
            Message :   @TempData["success"]
            </h3>
    }
}

    <div class="grid-container">
    <form asp-action="Teachers" method="get" class="grid-container">
    <div class="form-actions no-color">
        <p>
                <input type="text" placeholder="search subject..." class="searchBar" 
                name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> 
            
            @if (ViewBag.isAdmin == true)
                                {
                <input type="button" class="btn"
                           value="Add New Teacher"
                               onclick="location.href='@Url.Action("Users", "User", new{fromTeacher = true})'" />
                                }
        </p>
    </div>
</form>

    
</div>

    <div class="gridRow">
        <h3 style="text-align:center; padding-top:10px;">Teacher's List' : </h3>
        <form asp-action="Teachers" method="get">
            <div class="form-actions no-color">

                <label for="PageNumber"> Item per Page: </label>
                <input name="itemsPerPage" class="searchBar" style="width:40px" type"number" value="@ViewData["ItemsPerPage"]" />
                <input type="submit" value="Show" class="btn" />
            </div>
        </form>

    </div>

<div class="cards">
    @{


        foreach (var teacher in Model)
        {

                    <div class="card">
                        <div class="card__header">
                        <img class="img" src="~/images/user/@(teacher.PicturePath)" />
                        </div>
                           
                        <div class="card__body">
                        <h5 class="card__title">Name : @(teacher.FirstName) @(teacher.LastName) </h5>
                                <p style="font-size:14px">
                        <p>Email: @(teacher.Email)</p>
                                   
                        About : demo about added latter<br>
                                   
                        <div class="card__footer">
                            <div class="button-group">
                                    @if (ViewBag.hasAuth){
                                            <a class="detailsBtn"
                    asp-conztroller="Teacher" asp-action="DetailsTeacher" asp-route-id="@teacher.Id"> See details..</a>
                                    }
                                        @if (ViewBag.isAdmin == true){
                                            <a class ="updateBtn"
                            asp-conztroller="Teacher" asp-action="UpdateTeacher" asp-route-id="@teacher.Id"> Update</a>
                                            <a class="deleteBtn"
                    asp-conztroller="Teacher" asp-action="DeleteTeacher" asp-route-id="@teacher.Id"> Delete</a>
                        }
                        </div>
                        </div>
                    </div>
                    </div>
        }

    }
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
    <div class="paginationDiv">
        <div class="gridRow">
            <h4>Page No @(Model.PageIndex) of @(Model.TotalPages)</h4>

            <form asp-action="Teachers" method="get" class="grid-container">
                <div class="form-actions no-color">
                    <input type="hidden" name="ItemsPerPage" value="@ViewData["ItemsPerPage"]" />
                    <label for="PageNumber"> Goto Page</label>
                    <select name="PageNumber" class="searchBar" style="width:100px">
                        <option class="selectItem" value=@(Model.PageIndex)>--select--</option>
                        @foreach (int index in Enumerable.Range(1, (Model.TotalPages)))
                        {
                            <option class="selectItem" value=@(index)>Page : @(index)</option>
                        }
                    </select>
                    <input type="submit" value="Go" class="btn" />
                </div>
            </form>
        </div>

        <a asp-action="Teachers" asp-route-itemsPerPage="@ViewData["ItemsPerPage"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn @prevDisabled">
            Previous
        </a>


        @foreach (int page in Model.RangePageList)
        {
            if (page == Model.PageIndex)
            {
                <a asp-action="Teachers" class="selected"
           asp-route-pageNumber="@(page)" asp-route-itemsPerPage="@ViewData["ItemsPerPage"]"
           asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    @(page)
                </a>
            }
            else
            {
                <a asp-action="Teachers" class="btn"
           asp-route-pageNumber="@(page)" asp-route-itemsPerPage="@ViewData["ItemsPerPage"]"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn">
                    @(page)
                </a>
            }
        }

        <a asp-action="Teachers"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-itemsPerPage="@ViewData["ItemsPerPage"]"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn @nextDisabled">
            Next
        </a>

    </div>

</div>
