@model Student


<link rel="stylesheet" href="~/css/details.css" />

@{

    <div class="container">
                
                <div class="detailsUl" id="subjectDiv">
                    <h3 style="text-align:center;">Name : @(Model.FirstName) @(Model.LastName)</h3>
                    <span style="font-size:16px">Registration : @(Model.Reg)</span>

                        <h3>
                            Department :
                        <a class="item1" asp-controller="Depertment" asp-action="DetailsDepertment"
               asp-route-id=@Model.DepertmentId>
                            @(Model.DeptName)
                        </a></h3>


                    <h2 style="margin-top:40px;">Enrolled Subjects by @(Model.FirstName) @(Model.LastName):</h2>
                    <a asp-controller="Student" asp-action="EnroleSubject"
           asp-route-id=@Model.id> Enrole Subject </a>

                    <hr>


                    @foreach (var subject in Model.Subjects)
            {
                        <div class="grid-containerList">
                        <p>Subject's Name : 
                            <a class="item1" asp-controller="Subject" asp-action="DetailsSubject"
               asp-route-id=@subject.id>
                                @(subject.SubjectName)
                        </a>
                    </p>
                            <input type="button" class="item2 removeBtn"
                               value="Delete"
                               onclick="location.href='@Url.Action("DeleteEnrolment", "Student",new { @subjectId = subject.id, @studentId = Model.id})'" />
         
                        </div>
            }

                </div>
    </div>
  

}