@model PaginatedList<University_Information_System.Models.Student>

<link rel="stylesheet" href="~/css/projects.css" />

@{
    if (TempData["success"] != null)
    {
    <h3 class="headline" 
                style="align-content:center;
                background-color: #04AA6D;
                color: white;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                text-align:center; height:30px;">
                Message :   @TempData["success"]
    </h3>
    }
}

<div class="container">
<form asp-action="Students" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Students">Back to Full List</a>
        </p>
    </div>
</form>

<div>
    <input style="align-content:center; 
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    margin-left:30%;
    height:40px;width:200px;" 
    type="button"
    value="Add New Student" 
    onclick="location.href='@Url.Action("AddStudent", "Student")'" />
</div>

<div class="cards">
    @{


        foreach (var student in Model)
        {

                        <div class="card">
                            <div class="projectTitle" >
                                <h4>@(student.FirstName) @(student.LastName)</h4>
                                
                            </div>
                                 <span style="font-size:16px">Registration : @(student.Reg)</span>
                                                        
                            <div>
                                    <a style="background-color:teal; color:white; font-size:14px;margin-bottom:20px; padding:2px;;
                                        border: 1px solid red;border-radious:2px;"
                                asp-conztroller="Student" asp-action="DetailsStudent" asp-route-id="@student.id"> See details..</a>
                                                <a style="background-color:teal; color:white; font-size:14px; padding:2px;margin:2px; 
                                                    border: 1px solid red;border-radious:2px;"
                           asp-conztroller="Student" asp-action="UpdateStudent" asp-route-id="@student.id"> Update</a>
                                            <a style="background-color:red; color:white; font-size:14px; padding:2px;margin:2px; 
                                                        border: 1px solid red;border-radious:2px;"
                           asp-conztroller="Student" asp-action="DeleteStudent" asp-route-id="@student.id"> Delete</a>
                            </div>
                        </div>

        }

    }
</div>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Students"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Students"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
</div>